<p>
  <%= @picture_store.store_name %>

</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag @picture_store.picture.url %>
</p>

<p>
  <%= @picture_store.pv_id %>
  <%= @picture_store.content %>
</p>
